{% extends 'bash/base-index.html' %}
{% block centent %}
{% load cloud_tag %}
<div id="content">
<!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb"> <a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
    </div>
    <div class="col-sm-12">
        <div class="ibox float-e-margins" id="all">
            <div class="quick-actions">
                <h3>Heketi Cluster 信息</h3>
                <p></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div  class="row-fluid">
            <div  class="span12">
                <div class="widget-box">
                    <tr>
                        {% for c_k ,c_v in cluster_info.items %}
                            <h4 class="text-capitalize">{{ c_k }}</h4>
                            <th>{% for i in c_v %}{{ i }}{% endfor %}</th>
                            <hr/>
                        {% endfor %}
                    </tr>
                </div>
            </div>
    {#                {% build_cluster_info cluster_info %}#}
        </div>
    </div>
</div>
{% endblock %}